*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border-radius: 20px;
    background-image: linear-gradient(teal 15%,black 15% 100%);
    width: 500px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding:20px;
    position: relative;
}
.heading{
    text-align: center;
}
.button{
    border-radius: 100px;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    position: fixed;
    bottom: 200px;
    cursor: pointer;
    align-self: flex-end;
}
.fa-plus{
    font-size: 18px;
}

form{
    border-radius: 20px;
    color: white;
    padding: 10px;
    width: fit-content;
    display: none;

    background-color: transparent;
    border: 1px solid whitesmoke;
}
.view-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30%;
}
.cancel{
    align-self: flex-end;
    margin-bottom: 10px;
    cursor: pointer;
}
.submit{
    padding: 2px;
    border-radius: 5px;
    margin: 5px;
}
